<h1>All Rachelmarks</h1>

<div class="row">
  <div class="col-md-8">
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= topic.name %>
              <div class="row">
                <div class="col-md-8">
                  <% topic.bookmarks.each do |bookmark| %>
                      <h5><%= link_to bookmark.address, bookmark.address %></h5>
                      <%#= render partial: 'likes/like', locals: { bookmark: @bookmark } %>
                    <% end %>
                </div>      
              </div>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
</div>