<% if Like.create? %>
  <div class="favorite">
    <% if like = current_user.liked(bookmark) %>
      <%= link_to [bookmark, favorite], class: 'btn btn-danger', method: :delete do %>
        <i class="glyphicon glyphicon-star-empty"> </i>&nbsp; Dislike
      <% end %>
    <% else %>
      <%= link_to [bookmark, Favorite.new], class: 'btn btn-primary', method: :post do %>
        <i class="glyphicon glyphicon-star"> </i>&nbsp; Like
      <% end %>
    <% end %>
  </div>
<% end %>