<br/>
<div class="jumbotron">
  <h1>Rachelmarks</h1>
  <p>A delicious way of tracking you and your friends' favorite websites.</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Bookmark URLs via email </h3>
  </div>
  <div class="col-md-4">
    <h3>Peruse other users' bookmarks</h3>
    
  </div>
  <div class="col-md-4">
    <h3>Maintain a personal index of categorized bookmarks</h3>
    
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="assets/pandas.jpg" width= "320px">
  </div>  

  <div class="col-md-4">
    <img src="assets/CatonComp.jpg" width= "320px">
  </div>  

  <div class="col-md-4">
    <img src="assets/Noidea.jpg" width= "320px">
  </div>
</div>
