<br/>
<div class="jumbotron">
  <h1>Rachelmarks</h1>
  <p>A delicious way of tracking you and your friends' favorite websites.</p>
  <% if current_user %>
    <ul>
    <li>Send your bookmarks to: <%= mail_to "postmaster@app32501618.mailgun.org", "postmaster@app32501618.mailgun.org" %> </li>
    <li>Make sure to hashtag your subject. E.g. #TaylorSwift</li>
    <li>Include only the URL in your email body.</li></ul>
  <% else %>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Bookmark URLs via email </h3>
  </div>
  <div class="col-md-4">
    <h3>Peruse other users' bookmarks</h3>
    
  </div>
  <div class="col-md-4">
    <h3>Maintain a personal index of categorized bookmarks</h3>
    
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <img src="assets/pandas.jpg" width= "320px">
  </div>  

  <div class="col-md-4">
    <img src="assets/CatonComp.jpg" width= "320px">
  </div>  

  <div class="col-md-4">
    <img src="assets/Noidea.jpg" width= "320px">
  </div>
</div>
